body,
p,
h1,
h2,
h3 {
  margin: 0;
}

body {
  background: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif, f;
  display: grid;
  gap: 60px;
  justify-items: center;
  margin-top: 60px;
}

img {
  max-width: 100%;
}

header {
  text-align: center;
}

.menu {
  display: flex;
  gap: 20px;
  flex-wrap: wrap; /*pular linha*/
  margin-top: 60px;
}

.menu a {
  text-decoration: none;
  background: white;
  padding: 15px 30px;
  border-radius: 5px;
  color: black;
  border: solid 2px white;
  font-weight: 700;
}

.menu a:hover {
  border: solid 2px red;
}

.principal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.introducao {
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 40px;
  background: white;
  justify-items: end;
  gap: 20px;
}

.introducao a {
  padding: 16px 32px;
  background: red;
  text-decoration: none;
  text-align: center;
  color: white;
  border-radius: 4px;
}

.introducao h1 {
  font-size: 32px;
  font-weight: 700;
}

.introducao p {
  line-height: 26px;
  font-size: 20px;
  text-align: right;
}

.introducao a:hover {
  background: #990000;
}

.vantagens h2 {
  font-size: 64px;
  color: rgba(0, 0, 0, 0.2);
  text-align: right;
  background-image: url(https://kotchopires.github.io/imagens/onda.svg);
  align-self: center;
}

.vantagens {
  padding: 40px;
  place-content: center;
}

.detalhes {
  display: grid;
  padding: 20px;
}

.detalhesitem {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 20px;
}
